<div>
  <app-marker-info
    [date]="date"
    [marker_name]="markerName"
    [text_wrap]="textWrap"
    [wiki_link]="wikiLink"
    [lat]="lat"
    [long]="long"
    [link_youtube]="linkYoutube"
    [bc_ad]="bc_ad"
    [dataLoaded]="dataLoaded">
  </app-marker-info>
  <app-geo-json></app-geo-json>
  <button (click)="restartStory()" style="position: absolute; bottom: 10px; right: 10px; z-index: 1000; padding: 10px 20px; background-color: #8B4513; color: white; border: none; border-radius: 5px; cursor: pointer;">Restart Story</button>
</div>