.marker-inf{
    position: absolute;
    z-index: 10000000000;
    display: block;
    pointer-events: visiblePainted;
    
      background: white;
      width: 20%;
      height: auto;
      border: 2px solid black;
      border-radius: 10px;
      right: 1%;
      top: 1%;
      text-align: center;
      @media screen and (max-width: 768px) {
          top: auto;
          position: fixed;
          bottom: 1%;
          left: 0;
          width: 90%;
          margin: 0 auto;
          background-color: white; /* Adjust background color as needed */
          padding: 10px; /* Adjust padding as needed */
          box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Optional: Add shadow for better visibility */
          z-index: 1000; /* Ensure it is above other elements */
          height: max-content;
      }
      .markerName{
        text-align: center;
        width: 100%;
        font-weight: bold;
        font-size: 14px;
      }
      .date{
        width: 100%;
        text-align: center;
        display: block;
      }
      >p{
        font-size: 12px;
        padding: 2px;
        @media screen and (max-width:450px) {
          max-height: 70px;
          overflow: scroll;
          overflow-x: hidden;
        }
      }
      >a{
        font-size: 14px;
      }
      >button{
        margin-top: 3%;
        margin-bottom: 3%;
      }
  }
  #youtubeVideo{
    position: absolute;
    z-index: 10000000000;
    width: 70%;
    height: 45vh;
    top: 35%;
    left: 15%;
    >iframe{
      width: 100%;
      height: 100%;
    }
    .close{
      position: absolute;
      top: -3%;
      right: -2%;
      >button{
        border-radius: 50%;
        font-size: 23px;
        cursor: pointer;
      }
    }
  }